* {
  box-sizing: border-box;
}

/*Navigation*/

html body {
  background: #f2f2f2;
  font-family: 'Roboto Condensed', sans-serif;
  width: 100%;
}

nav {
  position: fixed;
  top:0;
  left:0;
  right:0;
  text-align: center;
  z-index: 5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.nav-logo {
  color: #19f6e8;
}

nav a {
  text-decoration: none;
  color:inherit;
}

nav ul {
  overflow: hidden;
  text-align: center;
  background: #333333;
  margin: 0;
  padding:0;
  color: white;
  letter-spacing: 2px;
  -webkit-transition: max-height 0.4s;
  -ms-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  transition: max-height 0.4s;
  transition: all 0.4s ease;
}

nav ul li {
  display: inline-block;
  padding: 22px;
  font-size: 20px;
  transition: 0.3s ease;
}

nav ul .nav-hover:hover {
  color: #19f6e8;
}

/*Page Content*/

.title {
  background: #f2f2f2;
  margin-top: 40px;
  margin-left: 15px;
  text-align: left;
  position: absolute;
  z-index: 1;
  color: #333333;
  top: 10px;
  background: none;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 24px;
}

.new-recipe-form {
  position: absolute;
  width: 80%;
  top: 150px;
  left: 10px;
  margin-right: 25px;
  margin-left: 25px;
}

.recipe-type {
  display: inline-block;
  position: relative;
}


#recipe-title {
  margin-bottom: 15px;
  margin-top: 2px;
  padding: 5px 8px;
  font-size: 20px;
  border: solid 1px #c4c4c4;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

textarea {
  resize: none;
  padding: 8px 10px;
  border-radius: 5px;
  border: solid 1px #c4c4c4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: auto;
}

.recipe-type {
  display: inline-block;
  font-size: 20px;
  color: #333333;
  letter-spacing: 1px;
}

.recipe-type,
.calories-container,
.author,
.submit {
  color: #333333;
  letter-spacing: 1px;
}

.recipe-type input {
  margin-bottom: 5px;
}

.calories-input {
  width: 80px;
  padding-top: 3px;
  height: 30px;
  font-size: 20px;
  height: ;
  border-radius: 5px;
  border: solid 1px #c4c4c4;
  position: relative;
  left: 100px;
  bottom: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline;
}

.author {
  margin-top: -65px;
  font-size: 18px;
}

fieldset {
  border: none;
  margin-left: -10px;
}

.author input {
  border-radius: 5px;
  border: solid 1px #c4c4c4;
  font-size: 20px;
  margin-top: -15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;
  display: inline-block;
}

.firstname {
  margin-top: -10px;
}

form h2 {
  font-size: 24px;
}

.submit {
  margin-top: 15px;
  font-size: 20px;
  display: inline-block;
  float: right;
}

button {
  padding: 3px;
  width: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin-left: 0;
  background-color: #333333;
  color: #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: max-height 0.4s;
  -ms-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  transition: max-height 0.4s;
  transition: all 0.4s ease;
}

button:hover {
  color: #19f6e8;
}

/*responsive nav*/

.handle {
  width: 100%;
  background: #333333;
  text-align: left;
  cursor: pointer;
  display: none;
  height:65px;
}

.handle-menu {
  position: relative;
  top: 20px;
  font-size: 20px;
  font-weight: bold;
  background: #19f6e8;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-bars {
  float:right;
  color: #f2f2f2;
  font-size: 20px;
  margin-right: 10px;
  position: relative;
}

/*Demo Button Media Query*/

@media screen and (min-width: 945px) {
  #demo-button {
    position: relative;
    padding: 5px;
    border-radius: 3px;
    border:none;
    transition-duration: 200ms;
  }

  #demo-button:hover {
    color: #19f6e8;
  }
}

/*Nav Media Query*/


@media screen and (max-width: 945px) {
  nav ul {
    max-height: 0;
    background-color: rgba(255,255,255,.93);
    color:black;
  }

  .showing {
    max-height: 22em;
  }

  nav ul li {
    width: 100%;
    padding: 15px;
  }

  .handle {
    display:block;
  }

  .nav-left {
    position: static;
  }

  .nav-right {
    position: static;
  }

  .nav-logo {
    font-weight: bold;
    background: #19f6e8;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }


