* {
  box-sizing: border-box;
}

/*Navigation*/

html body {
  background: #f2f2f2;
  font-family: 'Roboto Condensed', sans-serif;
  padding-bottom: 50px;
  overflow-x: hidden;
}

nav {
  position: fixed;
  top:0;
  left:0;
  right:0;
  text-align: center;
  z-index: 5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.nav-logo {
  color: #19f6e8;
}

nav a {
  text-decoration: none;
  color:inherit;
}

nav ul {
  overflow: hidden;
  text-align: center;
  background: #333333;
  margin: 0;
  padding:0;
  color: white;
  letter-spacing: 2px;
  -webkit-transition: max-height 0.4s;
  -ms-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  transition: max-height 0.4s;
  transition: all 0.4s ease;
}

nav ul li {
  display: inline-block;
  padding: 22px;
  font-size: 20px;
  transition: 0.3s ease;
}

nav ul .nav-hover:hover {
  color: #19f6e8;
}

/*Page Content*/

.title {
  width: 100%;
  background: #f2f2f2;
  margin-top: 50px;
  margin-left: 15px;
  text-align: left;
  position: absolute;
  z-index: 3;
  color: #333333;
  background: none;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 24px;
}


/*Accordian Animation*/

.container {
  width: 100%;
  float: left;
  position: relative;
  top: 155px;
}
.acd-content {
  display: none;
  overflow: hidden;
  padding: 10px;
  font-size: 24px;
  background-color: #f3f3f3;
}
.acd-content p {
  color: #616161;
}

.btn {
  display: block;
  border: none;
  outline: 0;
  padding: 15px 15px;
  vertical-align: middle;
  overflow: hidden;
  color: #f2f2f2;
  background-color: #333333;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-size: 30px;
  transition: all .3s ease;
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: max-height 0.4s;
  -ms-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  transition: max-height 0.4s;
  transition: all 0.4s ease;
}
.btn:after {
  content: '\002B';
  color: #19f6e8;
  font-size: 35px;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.max:after {
  content: '\2212';
}

.btn:hover {
  color: #19f6e8;
}

.chef {
  position: fixed;
  top: 120px;
  left: 830px;
  right: 0;
  z-index:999999;
}

@media (max-width: 40em) {
  .chef {
  display: none;
  }
}

.delete-btn,
.edit-btn {
  position: relative;
  margin-bottom: 5px;
  float: right;
  bottom: 10px;
  padding: 3px;
  width: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  background-color: #333333;
  color: #f2f2f2;
  margin-right: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: max-height 0.4s;
  -ms-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  transition: max-height 0.4s;
  transition: all 0.4s ease;
}

.delete-btn:hover,
.edit-btn:hover {
  color: #19f6e8;
}

#raw-data {
  color: #f2f2f2;
}

/*responsive nav*/

.handle {
  width: 100%;
  background: #333333;
  text-align: left;
  padding: 0;
  cursor: pointer;
  display: none;
  height:65px;
}

.handle-menu {
  position: relative;
  margin-left: 15px;
  top: 20px;
  font-size: 20px;
  font-weight: bold;
  background: #19f6e8;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bars {
  float:right;
  color: #f2f2f2;
  font-size: 20px;
  margin-right: 25px;
  position: relative;
}

/*Demo Button Media Query*/

@media screen and (min-width: 945px) {
  #demo-button {
    position: relative;
    padding: 5px;
    border-radius: 3px;
    border:none;
    transition-duration: 200ms;
  }

  #demo-button:hover {
    color: #19f6e8;
  }
}

/*Nav Media Query*/


@media screen and (max-width: 945px) {
  nav ul {
    max-height: 0;
    background-color: rgba(255,255,255,.93);
    color:black;
  }

  .showing {
    max-height: 22em;
  }

  nav ul li {
    width: 100%;
    padding: 15px;
  }

  .handle {
    display:block;
  }

  .nav-left {
    position: static;
  }

  .nav-right {
    position: static;
  }

  .nav-logo {
    font-weight: bold;
    background: #19f6e8;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }


